button {
  width: 47.5%;
  height: 10%;
  padding: 1%;
  background-color: gray;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

#secondButton {
  margin-left: 5%;
}

button:hover {
  text-decoration: underline;
  background-color: rgb(115, 115, 115);
  cursor: pointer;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%; 
}

img {
  width: 50%;
  height: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%; 
  text-align: center;
}

div {
  font-size: medium;
  color: white;
}
