section {
    background-color: white;
    color: black;
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
  }

button {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 60%;
    height: 10%;
    padding: 1%;
    background-color: gray;
    margin-left: 20%;
  }
  button:hover {
    text-decoration: underline; 
    background-color: rgb(115, 115, 115);
}
